body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  background-color: indianred
}

.bikeImage {
  max-height: 250px;
  max-width: 250px;
  border-radius: 5%;
}

.bikeCard {
  margin: auto;
  margin-top: 2%;
  max-width: 30%;
  padding-top: 10px;
  border-color: indianred;
  border-style:ridge;
  border-radius: 5%;
}


